<p id="notice"><%= notice %></p>
<h1 class="text-center">User</h1>
<div class="center">

	<div class="field">
  		<strong>Name:</strong>
  		<%= @user.name %>
	</div>

	<div class="field">
  		<strong>last name</strong>
  		<%= @user.last_name %>
	</div>

	<div class="field">
  		<strong>Promo Code</strong>
  		<%= @user.promo_code %>
	</div>

	<div class="field">
  		<strong>Email</strong>
  		<%= @user.email %>
	</div>
	
	<div class="field">
  		<strong>Mobile</strong>
  		<%= @user.mobile %>
	</div>
	<br>
	<div class="link">
		<%= link_to 'Edit', edit_user_path(@user) %> |
		<%= link_to 'Back', users_path %>
	</div>
</div>